.adnotatio-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: top;
    align-items: flex-start;
    // margin: 20px;
    // width: 70em;
    // margin-left: auto;
    // margin-right: auto;
    align-items:stretch;

    .adnotatio-document-wrapper {
        position: relative;

        .adnotatio-document-bg {
            z-index: 99;
            position: absolute;
            top: 0px;
        }

        .adnotatio-document-main {
            z-index: 100;
            width: 100%;
        }

        .adnotatio-document-fg {
            z-index: 101;
            position: absolute;
            top: 0px;
        }

        .adnotatio-comment-button {
            display: none;
            position: absolute;
            height: 50px;
            z-index: 10000;
            border-radius: 25px;
            width: 50px;
            font-size: 25px;
            border: 1px solid #aaa;
            right: -25px;
            margin-top: -15px;
        }
    }

    .adnotatio-commentbar {
        position: relative;
        padding: 10px;
        padding-top: 0px;
        background: #fafafa;
        flex: 0 0 250px;
        border: 1px dashed #aaa;
        border-left: 0px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        overflow-y: auto;
        overflow-x: hidden;

        .adnotatio-commentbar-comment {
            text-align: left;
            position: absolute;
            border: 1px solid #aaa;
            border-radius: 3px;
            padding: 5px;
            background: #fff;
            margin: 10px;
            margin-top: -15px;
            margin-bottom: 20px;
            width: 220px;
            cursor: pointer;

            .adnotatio-commentbar-comment-author {
                opacity: 0.5;
                font-size: small;
                display: block;

                &::after {
                    content: " wrote:"
                }
            }

            .adnotatio-commentbar-comment-highlighted {
                display: none;
            }

            .adnotatio-commentbar-comment-replies {
                background: #eee;
                margin: -5px;
                margin-top: 3px;
                border-bottom-left-radius: 3px;
                border-bottom-right-radius: 3px;

                .adnotatio-commentbar-comment-reply {
                    border-top: 1px solid #aaa;
                    padding: 7px;

                    .adnotatio-commentbar-comment-author::after {
                        content: " replied:";
                    }

                    &:last-of-type {
                        border-bottom-left-radius: 3px;
                        border-bottom-right-radius: 3px;
                    }
                }
            }

        }

        .adnotatio-commentbar-orphanheader {
            display: none;
            width: 100%;
            position: absolute;
            text-align: center;
            font-variant-caps: all-small-caps;
            color: #aaa;
            margin-top: 50px;
            margin-bottom: 20px;
        }

        .adnotatio-commentbar-orphan {
            color: #aaa;
            border-color: #aaa;
        }
        .adnotatio-commentbar-orphan .adnotatio-commentbar-comment-highlighted {
            display: block;
            margin: 5px;
            background: #eee;
            padding: 5px;
        }

    }

    .Document {
        border-radius: 3px;
        border: 1px solid #000;
        padding: 25px;
        position: relative;
    }
}

.wrapper {
    position: relative;
}

.toplevel {
    max-width: 50em;
    margin: auto;
    position: relative;
}








.highlight {
    background: #DCDA5988;
    cursor: pointer;
    padding: 1px;
}
.highlight:hover {
    background: #DCDA59FF;
}
